[submodule "d4rl_repo"]
	path = d4rl_repo
	url = https://github.com/Farama-Foundation/D4RL

[submodule "robomimic"]
	path = robomimic
	url = https://github.com/ARISE-Initiative/robomimic.git


[submodule "qc-flow-priority-sampling"]
	path = qc-flow-priority-sampling
	url = https://github.com/Revivekirin/qc-flow-priority-sampling.git
